
@{
    ViewData["Title"] = "Login";
}
@model ChatRoomSignalR.Models.VM.LoginVM

    
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <style>
            .form{
                margin-top: 15%;
                display:flex;
                justify-content:center;
                align-items:center;
                flex-direction:column;
            }
        </style>
    </head>
    <body>
        <div class="container">
            
            <div class="form">
                <div class="row">
                    <h1>Login</h1>
                </div>

                <br />

                <form action="/Login/Login" method="post">
                    <div class="row">
                        <div class="col-md-4">
                            @Html.LabelFor(q => q.Email) :
                        </div>
                        <div class="col-md-7">
                            @Html.TextBoxFor(q => q.Email, new { @type = "email" })
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-4">
                            @Html.LabelFor(q => q.Password) :
                        </div>
                        <div class="col-md-7">
                            @Html.PasswordFor(q => q.Password)
                        </div>
                    </div>

                    <br />

                    <button class="btn btn-success float-right" type="submit">Login</button>
                </form>

            </div>

        </div>
       

    </body>
</html>



   


