
@{
    ViewData["Title"] = "Index";
}

@model List<ChatRoomSignalR.Models.Entities.AdminUser>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <script src="~/js/signalr/dist/browser/signalr.js"></script>

    <style>
        .flat {
            display: flex;
        }

        #contacts li:hover {
            color: dodgerblue;
            cursor: pointer;
        }

        #contacts li {
            list-style-type: none;
        }

        .chatbox{
            visibility:hidden;
        }
    </style>
</head>
<body>
    <div class="container">
        <br />
        <p>Welcome, @ViewBag.Name</p>
        <br />
        <br />
        <header>
            <h1>Chat Room</h1>
        </header>
    </div>
    <br />
    <br />
    <div class="container flat">

        <div class="col-md-4">
            <h3>Contacts</h3>
            <ul id="contacts">
                @foreach (var item in Model)
                {
                    <li id="@item.ID">@item.EMail</li>
                    @*<input type="hidden" name="id" value="@item.ID" />*@
                }
            </ul>
        </div>
        <div class="col-md-6 chatbox">
            <h3>Chat</h3>
            <input type="text" name="name" id="msg" value="" />
            <button id="btnSend" class="btn btn-primary"> Send </button>

            <ul id="chat">
            </ul>
        </div>


    </div>

    <script>

        "use strict";

        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

        

        connection.start().then(function () {

            console.log("Connection established!")

        }).catch(function (err) {

            return console.error(err.ToString());
        });
      
        $("#contacts li").click(function () {

            $(".chatbox").css('visibility', 'visible');

            var id = $(this).attr("id");
            var url = "/Home/User/" + id;
            var connectionid = "";

            $.ajax({
                type: "GET",
                url: url,
                dataType: "json",
                success: function (user) {
                    connectionid = user.connectionID;
                    console.log(connectionid);
                }
            });

            $("#btnSend").click(function () {

                var message = $("#msg").val();

                connection.invoke("SendMessage", connectionid, message).catch(function (err) {

                });
                console.log(message);
                console.log(connectionid);
                $("#msg").val("");

            });

            connection.on("ReceiveMessage", function (msg) {

                $("#chat").append("<li>" + msg + "</li>");
            });
        });

    </script>
</body>
</html>


